body, html{
    margin:0;
    padding:0;
    min-width: 1000px;
}
.header {
    width: 100%;
    height: 95px;
    background: #1b1b1c;
    border-bottom: 5px solid #2096da;
    font-family: 'Open Sans', sans-serif;
    color: white;
    z-index: 10;
}
.logo {
    width: 10%;
    height:95px;
    position: relative;
    left: 10%;
    background: #2096da;
    color: white;
    text-align: center;
    float:left;
}
.logo p {
    margin:0;
    position: relative;
    top:20px;
    font-size: 35px;
}
.nav-menu {
    width: 50%;
    height: 95px;
    position: relative;
    right: 10%;
    float:right;
}
.nav-block {
    float:right;
    width:18%;
    height:35px;
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 20px;
}
.cont {
    width: 100%;
    height: auto;
    background:#252525;

    
}
.cont-block {

    width: 80%;
    height: 1000px;
    position: relative;
    right: 8%;
    left: 12%;
    top: 50px;
    bottom: 150px;
    padding-bottom: 500px;
}
.cont-cage {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.articl {
    background: #1b1b1c;
    opacity: 0.6;
}
.photoblock1 {
    background: #2f2f30;
}
.long {
    background: #403f3f;
    margin-bottom:0; 
    height: 260px;
    margin-top:0; 
}
.photoblock2 {
    background: #403f3f;
}

.lngB {
    position: relative;
    top: -10px;
}
.longH {
    width: 520px;
    background: #403f3f;
    margin-right: 0;
}
.footer {
    background: #1b1b1c;
    width: 100%;
    height: 300px;
}
.ssilka {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #403f3f;
    float: left;
    margin: 3.5%;
    position: relative;
    top:-70px;
    border: 1px solid #1b1b1c;
    text-align: center

}
.ssilka i {
    position: relative;
    top: 15px;
}
.top {
    width: 60%;
    margin-right: 20%; 
    margin-left: 20%; 
    float:left;
    clear: right;
}
.left{
    display:table;
    border: 5px;
    float: left;
    position: relative;
    top: -50px;
    left: 8%;
}
.footcol {
    display:table-row;
}
.footblock {
    display:table-cell;
    width: 65px;
    height: 65px;
    background: #403f3f;
    border: 5px solid #1b1b1c;
    text-align: center;
    padding: 0;
}
.decoration {
    border-top: 1px solid #403f3f;
    border-bottom: 1px solid #403f3f;
    width: 80%;
    position: relative;
    right: 10%;
    left: 10%;
    top: 15%;
    bottom:15%;
    height: 70%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size:25px;
    text-align: center;
    vertical-align:middle;
}
.decoration p {
    position: relative;
    top: 10px;
    font-size:25px;
}
#i1 {
    background: url("image/img1.jpg");
    background-position: 40, 0;
    background-size: 200%; 
}
#i2 {
    background: url("image/img2.jpg");
    background-position: -60px, 20px;
    background-size: 200%; 
}
#iH1 {
    background: url("image/img3.jpg");
    background-position: -60px -180px;
    background-size: 200%; 
}
#lng1 {
    background: url("image/img4.jpg");
    background-position: -80px -50px;
    background-size: 200%; 
}
#lng1B {
    background: url("image/img4.jpg");
    background-position: -80px -310px;
    background-size: 200%; 
}
#iH2 {
    background: url("image/img5.jpg");
    background-position: -40px -25px;
    background-size: 110%; 
}
#i3 {
    background: url("image/img6.jpg");
    background-position: 0px -25px;
    background-size: 105%; 
}
#i4 {
    background: url("image/img7.jpg");
    background-position: 0px -25px;
    background-size: 105%; 
}
#lng {
    background: url("image/img8.jpg");
    background-position: -100px -50px;
    background-size: 200%; 
}
#lngB {
    background: url("image/img8.jpg");
    background-position: -100px -310px;
    background-size: 200%; 
}
#i5 {
    background: url("image/img9.jpg");
    background-position: -50px 0px;
    background-size: 150%; 
}
#i6 {
    background: url("image/img10.jpg");
    background-position: -50px 0px;
    background-size: 200%; 
}
#i7 {
    background: url("image/img11.jpg");
    background-position: -50px 0px;
    background-size: 200%; 
}
#a1 {
    top: 0;
}
#a2 {
    top:30px;
}
#a4, #a5 {
    top: 30px;
}
.footblock i {
    padding: 0;
    position: relative;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: 0;
}
.nav-enter {
    background: #2096da;
}
a .nav-block {
    color: white;
}
a .nav-block:hover {
    background: #3a3c3d;
}
.creative-block {
    width: 30%;
    height: 50%;
    background: white;
    float: left;
    margin-right: 3%;
    background: #403f3f;
    margin-top: 10%;
}
.creative-block:nth-child(3) {
    margin-right: 0;
}
.bg {
    width: 100%;
    height: 60%;

}
#ds1 {
    background: url("image/bg3.jpg");
    background-size: cover;
}
#ds2 {
    background: url("image/bg4.jpg");
    background-size: cover;
}
#ds3 {
    background: url("image/bg5.jpg");
    background-size: cover;
}
.cont-cr {
    width:100%;
    height:40%;
    margin-top: 5%;
    background: #737375;
}
#ds4 {
    background: url("image/img12.jpg");
    background-size: cover;
}
#ds5 {
    background: url("image/img13.jpg");
    background-size: cover;
}
#ds6 {
    background: url("image/img14.jpg");
    background-size: cover;
}
#map {
    width: 100%;
    height: 60%;
    background: #3a3c3d;
    border: 10px solid #403f3f;
}
.bard {
    width: 45%;
    height: 400px;
    margin-right: 5%;
    position: relative;
    top: 100px;
    background: #403f3f; 
}
.bard:nth-child(1) {
    margin-right: 0;
}
